@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); /*Importação da fonte*/

:root {
  --botao-azul: #167bf7; /*Define a cor do botão*/
  --cor-primaria: #ffffff; /*Define a cor primária do site*/
  --cor-secundaria: #f9f9f9; /*Define a cor secundária do site*/
  --cor-de-fundo: #000000; /*Define a cor do fundo*/
  --botao-efeito: #3c92fa; /*Define o efeito de quando o mouse passa por cima do botão*/
  --fonte-primaria:
    "Inter", sans-serif; /*Define a fonte primaria utilizada no site*/
  --font-size-principal: 16px; /*Define o tamanho da fonte principal do site*/
}

* {
  /*Reseta as configurações de margin e padding*/
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  font-size: var(--font-size-principal);
}

.container {
  /*Estrutura base do container para encaixar os elementos de forma correta*/
  height: 100vh; /*Define o tamanho do container para 100vh (vertical horizontal)*/
  display: grid; /*Define o display como grid*/
  grid-template-columns: 50% 50%; /*Define que o grid seja em colunas e que os elementos estejam divididos em 50%*/
}

.containerPrincipal {
  /*Container para colocar a imagem de fundo como background*/
  background-image: url(../assets/Background.png); /*Define que a imagem é o fundo do container*/
  background-repeat: no-repeat; /*Define a não-repetição do background, fazendo com que a imagem não fique duplicada*/
  background-size: contain; /*Define que a imagem ocupe o container inteiro*/
  align-items: center;
  text-align: center;
}

.containerCaixa {
  margin: 0 6rem; /*Define que a margem dos elementos em relação ao próximo elemento é de 6rem (equivalente a 80px {1rem = 16px}*/
}

.containerTitulo {
  font-size: 28px; /*Define o tamanho da fonta em px*/
  font-weight: 700; /*Define o peso da fonte, sendo 700 = BOLD; 600 = SEMI-BOLD; 500 = MEDIUM; 400 = NORMAL*/
  line-height: 1.5em; /*Define que. a distância entre as linha é de 28px + (28/0.5)px*/
  max-width: 20em; /*Define que a largura máxima do título é de 28px x 20*/
  text-align: center;
}

.containerImg {
  margin: 1em 12em 2em 0em;
}

.containerBotao {
  background-color: var(--botao-azul);
  width: 32rem;
  border-radius: 5px;
  padding: 1em;
  color: var(--cor-primaria);
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
  font-family: var(--fonte-primaria);
  font-size: var(--font-size-principal);
  font-weight: 400;
}

.botaoSecundario {
  width: 32rem;
  border-radius: 5px;
  border: 3px solid;
  padding: 1em;
  color: var(--cor-primaria);
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: var(--font-size-principal);
  font-weight: 400;
}

.containerBotao,
.botaoSecundario:hover {
  background-color: var(--botao-efeito);
}

.containerAviso {
  font-size: 12px;
  color: var(--cor-secundaria);
  margin-top: 1em;
  margin-right: 20em;
}

.containerSecundario {
  align-items: center;
  width: 80%;
}

.containerImgSecundaria {
  height: 35rem;
  width: 31rem;
  margin: 4em 10em 0em 8em;
}
