@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  box-sizing: border-box;
}

.headerHome,
.textHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 360px;
  margin-top: 65;
  list-style: none;
  gap: 80px;
}

.menuLink {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 24;
  font-weight: 600;
}

.textHome {
  display: flex;
  flex-direction: column;
}

.titleHome {
  padding: 10px;
  font-family: var(--fonte-primaria);
  font-size: 36;
  margin-top: 235px;
}

.titleEmphasis {
  white-space: nowrap;
  color: var(--cor-terciaria);
}

.infoHome {
  height: 144;
  width: 593;
}

.image {
  display: flex;
  justify-self: right;
  align-items: right;
  height: 532;
  width: 467;
}
