@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  box-sizing: border-box;
}

.headerHome,
.textHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 360px;
  margin-top: 65px;
  list-style: none;
  gap: 80px;
}

.menuLink {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 24;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: row;
  padding: 62px 80px 0;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.contentLeft {
  display: flex;
  flex-direction: column;
}

.textHome,
.socialMedias {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titleHome {
  padding: 10px;
  font-family: var(--fonte-primaria);
  font-size: 36px;
  margin: 141px 355px 0px 82px;
}

.titleEmphasis {
  white-space: nowrap;
  color: var(--cor-terciaria);
}

.infoHome {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  margin: 40px 300px 40px 82px;
}

.titleSocial {
  font-family: var(--fonte-primaria);
  font-size: 24px;
  font-weight: 400;
  margin: 40px 476px 32px 203px;
  text-align: center;
}
