@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --cor-primaria: #22d4fd;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #000000;
  --fonte-primaria: "Krona One", sans seriff;
  --fonte-secundaria: "Montserrat";
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  box-sizing: border-box;
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
}

.headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 80px;
  margin: 65px 361px 141px;
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
}

.link {
  color: var(--cor-primaria);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHome {
  margin: 141px 81px 40px 355px;
  font-family: var(--fonte-primaria);
  font-size: 36px;
  color: var(--cor-secundaria);
}

.emphasisText {
  color: var(--cor-primaria);
}

.textHome {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  margin: 40px 82px 40px 355px;
}

.socialMedias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleMedia {
  font-family: var(--fonte-primaria);
  font-size: 24px;
  font-weight: 600;
  margin: 40px 203px 32px 476px;
}

.button {
  display: flex;
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-primaria);
  border-radius: 8px;
  padding: 16px 119.5px 16px 16px;
  margin: 32px 189.5px 32px 462.5px;
}

.iconMedia {
  display: flex;
  width: 32px;
  height: 32px;
  padding-left: 119.5px;
  padding-right: 16px;
}

.imageWoman {
  width: 467.71px;
  height: 532px;
  border-radius: 16px;
}

footer {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  color: var(--cor-terciaria);
  background-color: var(--cor-primaria);
  height: 80px;
  width: auto;
  margin-top: auto;
}

.textFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23.64px;
}
